@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">List all meal categories</h1>
    <p id= "clock"></p>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@

    <table id="mealTable"  class="table table-bordered table-striped mt-3" style="margin:auto; width:80%"> 
        <thead>
            <tr>
                <th>Id Category</th>
                <th>Str Category</th>
                <th>Str Category Thumb</th>
                <th>Str Category Description</th>
                <th>Tambah</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model) 
            @* "in Model >> lihat di homecontroller, action index" *@
            {
                <tr>
                    <td>@category.IdCategory</td>
                    <td>@category.StrCategory</td>
                    <td><img src="@category.StrCategoryThumb" alt="@category.StrCategory" style="width: 100px; height: 100px;"></td>
                    <td>@category.StrCategoryDescription</td>
                    <td>
                        <form id="cartForm-@category.IdCategory" asp-controller="Cart" asp-action="AddToCart" method="post" onsubmit="return showSuccessMessage('@category.IdCategory')">
                            <input type="hidden" name="categoryId" value="@category.IdCategory" />
                            <button type="submit" style="border:none; background:none; padding:0; cursor:pointer;">
                                <img src="/images/dishAdd.png" alt="Tambahkan Ke Order" title="Tambah Order" style="width:50px; height:50px;">
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div id="successMessage" 
        style="display:none; 
                position:fixed; 
                top:50%; left:50%; 
                transform:translate(-50%, -50%); 
                background:rgba(17, 130, 178, 0.7); 
                color:white; 
                font-size:20px; 
                font-weight:bold;
                padding:20px; 
                border-radius:10px; 
                z-index:9999;">
        Success! Added category to cart.
    </div>
</div>

@section Scripts {
    <script>
        setInterval(() => {
            const now = new Date();
            document.getElementById("clock").innerHTML =   `<img src="/images/schedule.png" style="width:20px; height:20px; vertical-align:middle;"> `  + (now.toLocaleString());
        }, 1000);

        $(function() {
            $('#mealTable').DataTable({
                pageLength: 10,
                lengthChange: false,
                paging: true,
                searching: true,
                ordering: true
            });
        });

        function showSuccessMessage(categoryId) {
            const msg = document.getElementById("successMessage");
            msg.style.display = "flex";

            // kasih waktu tampil dulu (1.5 detik)
            setTimeout(() => {
                // submit form setelah notifikasi muncul
                document.getElementById("cartForm-" + categoryId).submit();
            }, 1500);

            return false;
        }

    </script>
}
