@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">List all meal categories</h1>
    <p id= "clock"></p>
    @* <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p> *@

    <table id="mealTable"  class="table table-bordered table-striped mt-3" style="margin:auto; width:80%"> 
        <thead>
            <tr>
                <th>Id Category</th>
                <th>Str Category</th>
                <th>Str Category Thumb</th>
                <th>Str Category Description</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var category in Model)
            {
                <tr>
                    <td>@category.IdCategory</td>
                    <td>@category.StrCategory</td>
                    <td><img src="@category.StrCategoryThumb" alt="@category.StrCategory" style="width: 100px; height: 100px;"></td>
                    <td>@category.StrCategoryDescription</td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        setInterval(() => {
            const now = new Date();
            document.getElementById("clock").innerHTML =   `<img src="/images/schedule.png" style="width:20px; height:20px; vertical-align:middle;"> `  + (now.toLocaleTimeString());
        }, 1000);

        $(function() {
            $('#mealTable').DataTable({
                pageLength: 10,
                lengthChange: false,
                paging: true,
                searching: true,
                ordering: true
            });
        });
    </script>
}
