@{
    ViewData["Title"] = "Order Cart";
}
<h1>@ViewData["Title"]</h1>

<div class="text-center">

    <table id="CartTable"  class="table table-bordered table-striped mt-3" style="margin:auto; width:80%"> 
        <thead>
            <tr>
                <th>Str Category</th>
                <th>Str Category Thumb</th>
                <th>Jumlah</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
           @foreach (var Order in Model) 
            @* "in Model" >> lihat di homecontroller, action index *@
            {
                <tr>
                    
                    <td>@Order.StrCategory</td>
                    <td><img src="@Order.StrCategoryThumb" alt="@Order.StrCategory" style="width: 100px; height: 100px;"></td>
                    <td>@Order.Jml</td>
                    <td>
                        <!-- kurangi -->
                        <form asp-action="UpdateQty" asp-controller="Cart" asp-route-idCategory="@Order.IdCategory" method="post" style="display:inline;">
                            <input type="hidden" name="qty" value="@(Order.Jml > 1 ? Order.Jml - 1 : 0)" />
                            <button type="submit" class="btn btn-sm btn-warning" title="Kurangi Order">
                                <i class="fas fa-minus"></i>
                            </button>
                        </form>

                        <!-- add -->
                        <form asp-action="UpdateQty" asp-controller="Cart" asp-route-idCategory="@Order.IdCategory" method="post" style="display:inline;">
                            <input type="hidden" name="qty" value="@(Order.Jml + 1)" />
                            <button type="submit" class="btn btn-sm btn-success" title="Tambah Order">
                                <i class="fas fa-plus"></i>
                            </button>
                        </form>

                        <!-- hapus -->
                        <form asp-action="UpdateQty" asp-controller="Cart" asp-route-idCategory="@Order.IdCategory" method="post" style="display:inline;">
                            <input type="hidden" name="qty" value="0" />
                            <button type="submit" class="btn btn-sm btn-danger" title="Hapus Order">
                                <i class="fas fa-trash"></i>
                            </button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <iframe id="downloadFrame" name= "downloadFrame" style="display:none;"></iframe> @* iframe agar menunggu sampai pdf terunduh  *@
    <form id="FormCO-@Context.Session.GetInt32("IdCust")" 
        asp-action="CheckoutPdf" 
        asp-controller="Cart" 
        method="post" 
        onsubmit="return confirmAndOpenPdf('@Context.Session.GetInt32("IdCust")');"
        style="text-align:right; margin-top:10px;">
        <div style="text-align: right; margin-top:10px;">
            <button type="submit" 
                    style="border: none; background-color: #007bff; color: white; 
                        padding: 8px 16px; border-radius: 6px; cursor: pointer; 
                        font-size: 14px; font-weight: 600;">
                Print Order
            </button>
        </div>
    </form>

    <div id="successMessage" 
        style="display:none; 
                position:fixed; 
                top:50%; left:50%; 
                transform:translate(-50%, -50%); 
                background:rgba(17, 130, 178, 0.7); 
                color:white; 
                font-size:20px; 
                font-weight:bold;
                padding:20px; 
                border-radius:10px; 
                z-index:9999;">
        Order berhasil!
    </div>
</div>

@section Scripts {
    <script>
        function confirmAndOpenPdf(idcust) {
            const msg = document.getElementById("successMessage");
            msg.style.display = "flex";

            setTimeout(() => {
                const form = document.getElementById("FormCO-" + idcust);
                form.target = "downloadFrame"; // set target ke iframe tersembunyi 
                form.submit();

            }, 1500);

            setTimeout(() => {
                window.location.href = "/Home/Index";
            }, 3000); // kasih jeda biar download sempat mulai

            return false; // cegah submit default
        }

    </script>
}

